@charset "utf-8";
/* CSS Document */

#myCarousel{width:1140; height:350; }
.add-to-cart{ position:relative; margin-left:100px; margin-top:-25px}
.glyphicon-plus-sign {font-size:40px; text-decoration:none; background-color:#FFF } 
a:hover{text-decoration:none}
a{text-decoration:none}